@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/* font-family: 'Tilt Neon', cursive; */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* font-family: 'VT323', monospace; */



.img {
   opacity: 50%;
}
.container {
   text-align: center;
}

fieldset {
/* background-image: url(img/russian-3714727_640.jpg); */
width: 50rem;
filter: opacit(50%);
}

h1 {
    font-family: 'Tilt Neon', cursive;
   font-size: 4rem;
   text-align: center;
   color: rgb(57, 13, 75);
   -webkit-text-stroke: 0.1px;
   -webkit-text-stroke-color: white;
}

 #start {
    background-color: #8135CD;
    color: white;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-family: 'Tilt Neon', cursive; 
    font-size: 1.5rem;
    -webkit-text-stroke: 0.5px;
   -webkit-text-stroke-color: gold;
}

 #pause {
    background-color: #CF82DC;
    color: white;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-family: 'Tilt Neon', cursive;
    font-size: 1.5rem;
    -webkit-text-stroke: 0.5px;
   -webkit-text-stroke-color: gold;
 }

 #stop {
    background-color: #8D6E92;
    color: white;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-family: 'Tilt Neon', cursive;
    font-size: 1.5rem;
    -webkit-text-stroke: 0.5px;
   -webkit-text-stroke-color: gold;

 }

 .chronometre {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2rem;
 }